<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
  <title>
    Mad Libs Fun!
  </title>
  </head>
  <body align="center">
    <p align="center" class="title"> MAD LIBS FUN</p>
    <hr width="80%" color="black"> </hr>
    <p align="center" class="choose"> Choose a story:</p> <br>
<form method="post">
    <div align="center">
      
      
<div>
     <div class=cake>
      <label>
       <input type="radio" name="story" value="cake">
      <img height=200px width = 200px padding=30px class="cake" style="border:5px solid black" src="https://cdn.jewishboston.com/uploads/2016/03/istock_000021079198_small.jpg.jpg">
      </label><p class="cakedescr">Birthday Party</p>
      
    </div>

<div class=market>
  <label>
       <input type="radio" name="story" value="market">
  <img height=200px width=200px class="market" style="border:5px solid black"src="https://d22ir9aoo7cbf6.cloudfront.net/wp-content/uploads/sites/4/2016/08/picture-Onderzoeksgroep-Organizations-and-Markets.jpg">
  </label><p class="marketdescr">Trip to the market</p>
</div>

<div class=thanks>
    <label>
       <input type="radio" name="story" value="thanks">
  <img height=200px width=200px class="thanks" style="border:5px solid black"src="http://delraycra.org/wp-content/uploads/2017/11/582b7a655cb72.image_.jpg">
  </label><p class="thanksdescr">Thanksgiving</p>
  </div> 
    </div>
  <br> <br>
  

<!-- <div align="center"> -->
  <div>
    <div class=winter>
      <label>
        <input type="radio" name="story" value="winter">
        <img height=200px width = 200px padding=30px class="winter" style="border:5px solid black" src="https://i0.wp.com/images6.fanpop.com/image/photos/36200000/snow-image-snow-36241624-1600-1200.png?resize=806%2C605">
    </label><p class="winterdescr">Winter facts</p>
    </div>

    <div class=sports>
      <label>
       <input type="radio" name="story" value="sports">
        <img height=200px width = 200px padding=30px class="sports" style="border:5px solid black" src="https://res.cloudinary.com/simpleview/image/upload/c_limit,f_auto,h_1200,q_75,w_1200/v1/clients/asheville/Cataloochee2%20copy_59aed019-5b77-472c-b924-a2e6a09978ed.jpg">
        </label><p class="sportsdescr">Winter Sports</p>
    </div>

    <div class=summer>
        <label>
       <input type="radio" name="story" value="summer">
      <img height=200px width = 200px padding=30px class="summer" style="border:5px solid black" src="http://travelingteams.com/wp-content/uploads/2015/07/Best-Summer-Vacations-for-2016.jpg">
      </label>
      <p class="summerdescr">Summer vacation</p> </div>
    </div>
  </div>
  <br><br><br><br>
  
  Number:
  <input autocomplete="off" type="text" name="number">
  <br> <br>
  Noun:
  <input autocomplete="off" type="text" name="noun">
  <br> <br>
  Number:
  <input autocomplete="off" type="text" name="number2">
  <br> <br>
  Animal:
  <input autocomplete="off" type="text" name="animal">
  <br> <br>
  Adjective:
  <input autocomplete="off" type="text"name="adjective">
  <br> <br>
  Food:
  <input autocomplete="off" type="text"name="food">
  <br> <br>
  Verb:
  <input autocomplete="off" type="text"name="verb">
  <br> <br>
  Adjective:
  <input autocomplete="off" type="text"name="adjective2">
  <br> <br>    
      
      
      <br>
      <p>Ready to see your Mad Lib? click 'Submit'!".</p>
      <input type="Submit" value="Submit">
<!--   <input type="submit" value="Submit"> -->
</form>
  </div>
  </body>
</html>