<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mad Libs Fun! - Results</title>
    <link type="text/css" rel="stylesheet" href="css/result_style.css"/>
  </head>
  <body><font face="Verdana">
    
  <h3>Your story: </h3>
  <h4> <%=@answer %> </h4>
  </font></body>
</html>


<html>
<body> 
  <style> body{
    background-image: url("http://www.ie-wallpapers.com/data/out/206/36810027-simple-wallpaper.jpg");
  background-color: #cccccc;
    
    }</style>
  </html>
  